{% extends "base.html" %}
{% block content %}
        <div class="container text-white my-5 mx-auto ">
            <div class="row justify-content-center col">
                <div class="col-md-8 border p-5 border-warning">

                    {% if status_message %}
                    <div class="alert {% if status_message == 'Approved' %}alert-success{% else %}alert-warning{% endif %}"
                        role="alert">
                        Your registration status is: {{ status_message }}
                    </div>
                    {% endif %}


                    <form method="post" action="{% url 'check-status' %}">
                        {% csrf_token %}
                        <div class="mb-3">
                            <label for="email_or_id" class="form-label">Email address or Unique ID</label>
                            <input type="text" class="form-control" id="email_or_id" name="email_or_id"
                                placeholder="Enter your email or Unique ID" value="{{ query }}">
                        </div>
                        <button type="submit" class="btn btn-primary">Check Status</button>
                    </form>
                </div>
            </div>
        </div>
       {% endblock content %}