{% extends "base.html" %}
{% block content %}
        <!-- Form -->
        <div class="container my-2 text-white">
            <div class="bg-dark p-3 rounded">
                <div class="col-sm-8 p-3 mx-auto border border-warning">
                    <h2 class="h5 text-center">Information</h2>
                    <hr class="mx-auto">
                    <table class="table table-dark px-3 mx-auto">
                        <tr>
                            <td>Venue</td>
                            <td class="text-warning">Foy's Lake Water Kingdom</td>
                        </tr>
                        <tr>
                            <td>Date</td>
                            <td class="text-warning">December 01, 2023</td>
                        </tr>
                        <tr>
                            <td>Registration Last date</td>
                            <td class="text-warning">November 20, 2023</td>
                        </tr>
                        <tr>
                            <td>Fee</td>
                            <td class="text-warning">
                                <ul>
                                    <li>Individual Spouse: 2000 BDT</li>
                                    <li>Spouse: 2000 BDT</li>
                                    <li>Each child above 4 years: 1000 BDT</li>
                                </ul>
                            </td>
                        </tr>

                        <tr>
                            <td>Payment System</td>
                            <td class="text-warning">Bkash / Nagad / Hand Cash</td>
                        </tr>
                        <tr>
                            <td colspan="2" class="text-center">
                                <a href="{% url 'register' %}">
                                    <button type="button" class="btn btn-warning btn-sm">Register Now</button>
                                </a>
                            </td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>
{% endblock content %}

